@import '../../../src/themes/default/kdfn.styl'

.main-view
  font-family               'Open Sans', 'sans-serif'

footer
section.home-section
  position                  relative
  overflow                  visible

  .inner-wrapper
    max-width               1290px
    padding                 0 45px
    margin                  0px auto
    overflow                visible
    border-top              1px solid transparent
    borderBox()

section.home-section
  background                #fff
  z-index                   3

  h2
  h3
    border                  none
    overflow                visible

  &.intro
    padding                 49px 0 148px 0
    background              #333
    text-align              center
    height                  auto
    z-index                 2
    shadow                  0 0 0 rgba(0,0,0,.4)
    -webkit-transition      -webkit-box-shadow .4s ease
    -moz-transition         -moz-box-shadow .4s ease
    fix()

    nav
      abs                   0 50% 0 0
      vendor                transform, translateX(50%)
      width                 auto
      -webkit-transition    -webkit-transform .3s ease \,
                            right .3s ease

      -moz-transition       -moz-transform .3s ease \,
                            right .3s ease

      a
        color               #979797
        font-size           14px
        display             inline-block
        line-height         36px
        noTextDeco()

        &~a
          margin            0 0 0 9px

        &#fork-us
          border            2px solid #525252
          rounded           6px
          padding           0 25px 0 0
          font-weight       600
          margin-left       23px
          width             216px
          white-space       nowrap
          vendor            transition, color .2s .1s ease \,
                                        width .2s .1s ease

          &:before
            content         ''
            display         block
            size            19px, 16px
            bg              image, url('../src/img/fork.svg')
            bg              position, center center
            bg              repeat, no-repeat
            bg              size, 19px 16px
            margin          10px 14px 0
            fl()

    figure.logo
      size                  188px 148px
      background            url('../src/img/logo.svg') no-repeat center
      background-size       contain
      abs                   123px 0 0 50%
      margin-left           -94px
      vendor                transition, width .3s ease \,
                                        height .3s ease \,
                                        top .3s ease \,
                                        left .3s ease

    h2
      text-align            center
      margin                314px 0 93px 0

      span
        font-size           36px
        color               #fff
        font-weight         300

    .download-button
      display               inline-block
      height                60px
      line-height           60px
      background            #ff5a27
      rounded               30px
      font-size             20px
      color                 #effee5
      padding               0 0 0 27px
      overflow              hidden
      abs                   412px 50% 0 0
      width                 354px
      margin                0 -177px 0 0
      vendor                transition, width .3s ease \,
                                        height .3s ease \,
                                        top .3s ease \,
                                        right .3s ease \,
                                        margin .3s ease \,
                                        font-size .3s ease \,
                                        border-radius .3s ease
      noTextDeco()

      &:after
        content             ''
        display             block
        size                72px, 60px
        bg                  color, #c3431c
        bg                  image, url('../src/img/cloud.svg')
        bg                  position, 16px 18px
        bg                  repeat, no-repeat
        bg                  size, 32px 24px
        margin-left         27px
        fr()

  &.features
    margin-top              630px
    shadow                  0 -12px 38px rgba(0,0,0, .75)

    &:before
      content               ''
      display               block
      size                  50%, 12px
      background            #fff
      abs                   -12px 0 0 50%
      vendor                transform, skewX(-45deg)
      margin-left           6px
      -webkit-transition    -webkit-transform .3s .2s ease \,
                            margin-left .3s .2s ease
      -moz-transition       -moz-transform .3s .2s ease \,
                            margin-left .3s .2s ease

    &:after
      content               ''
      display               block
      size                  50%, 12px
      background            #fff
      abs                   -12px 0 0 0px
      vendor                transform, skewX(45deg)
      margin-left           -6px
      -webkit-transition    -webkit-transform .3s .2s ease \,
                            margin-left .3s .2s ease
      -moz-transition       -moz-transform .3s .2s ease \,
                            margin-left .3s .2s ease

    .inner-wrapper
      vertical-align        top
      padding               102px 45px 82px
      border-bottom         2px solid #f6f6f6

    .feature
      display               inline-block
      width                 33%
      padding               0 55px 0 0
      color                 #555
      borderBox()

      figure
        background-size     contain

        &.chrome
          margin            7px 0 68px 0
          background        url('../src/img/chrome.svg') no-repeat center
          size              54px, 46px

        &.king
          margin            10px 0 67px 0
          background        url('../src/img/king.svg') no-repeat center
          size              54px, 45px

        &.box
          margin            0 0 68px 0
          background        url('../src/img/box.svg') no-repeat center
          size              47px, 54px

      h3
        font-size           16px
        font-weight         700

      p
        font-size           16px
        line-height         22px
        letter-spacing      0.02em
        padding             23px 0

  &.examples
    margin-bottom           163px

    .inner-wrapper
      padding               69px 45px 72px

    h2
      font-size             30px
      font-weight           600
      color                 #464646

    h3
      font-size             22px
      font-weight           300
      color                 #6b6b6b
      margin                8px 0 0

    .kdtabview
      width                 66%
      margin                60px 0 74px

      .kdtabhandlecontainer
        bg                  color, transparent
        border              none
        height              36px
        overflow            visible

        .kdtabhandle-tabs
          overflow          visible

        .kdtabhandle
          height            36px
          line-height       36px
          rounded           4px 4px 0 0
          margin-right      3px
          border            none
          padding           0 24px
          color             #858585
          font-size         14px
          background        #ececec

          &.active
            background      #333
            color           #f1f1f1

      pre.kdtabpaneview
        rounded             0 4px 4px 4px
        background          #333
        padding             20px
        borderBox()

        &:before
        &:after
          display           none

        code
          font-family       'Courier New','Courier',monospace, sans-serif
          width             auto
          background        transparent
          borderBox()

    .go-to-doc
      font-size             22px
      color                 #6b6b6b

      a
        color               inherit

footer
  size                      100%, 163px
  background                #333333
  bottom                    0px
  left                      0px
  z-index                   1
  fix()

  .about-kd
    padding                 58px 0 0 0
    font-size               16px
    color                   #858585
    font-weight             300
    line-height             24px
    fl()

  nav
    line-height             163px
    fr()

    a
      color                 #858585
      font-weight           300
      font-size             16px
      display               inline-block
      line-height           36px
      margin-left           16px
      noTextDeco()

.main-view.collapse-header
  section.intro
    height                    43px
    padding-bottom            55px
    z-index                   6
    overflow                  hidden
    shadow                    0 3px 16px rgba(0,0,0,.4)
    fix()

    figure.logo
      size                    64px 50px
      left                    139px
      top                     -4px

    nav
      right                   354px
      vendor                  transform, translateX(0)

      a#fork-us
        width                 24px
        color                 transparent

    .download-button
      abs                     0px 45px 0 0
      height                  40px
      line-height             40px
      font-size               16px
      rounded                 4px
      width                   258px
      margin                  0

      &:after
        size                  49px, 40px
        bg                    position, 8px 8px

  section.features
    &:before
      vendor                  transform, skewX(0deg)
      margin-left             0px

    &:after
      vendor                  transform, skewX(0deg)
      margin-left             0px
