/.DS_Store

*.orig

/node_modules/

/build/

/src/entry.coffee
/playground/js
/playground/css
/test/kd.libs.*js
/test/kd.test.*js

/docs/css/kd.css
/docs/css/main.css

/docs/js/kd.js
/docs/js/kd.libs.js
/docs/js/main.js

/docs/js/kd.sitemap.js
