@import "./kdfn"

btn-primary-color       = #00B057
btn-secondary-color     = #afafaf
btn-default-color       = btn-secondary-color
btn-danger-color        = #D0153D
btn-warning-color       = #ff9f00
btn-disabled-color      = #cecece

.kdbutton
  display              inline-block
  vertical-align       top
  outline              none
  white-space          nowrap
  cursor               pointer
  color                #fff
  text-shadow          0 1px 1px rgba(0, 0, 0, .5)
  font-weight          400
  border               none
  padding              0 14px
  rounded              4px
  bg                   color, btn-default-color
  noTextSelection()
  borderBox()
  rel()

  &:focus
    border             none
    shadow             inset 0 0 0 1px darken(btn-default-color, 8) \,
                       0 0 5px lighten(btn-default-color, 10)


  //Sizes

  //&.Regular
  size                 auto, 44px
  font-size            14px
  line-height          44px

  &.medium
    size               auto, 37px
    font-size          12px
    line-height        37px

  &.small
    size               auto, 25px
    font-size          10px
    line-height        25px

  &.mini
    size               auto, 20px
    font-size          10px
    line-height        20px


  //Types

  &.primary
  &.green //[BC] i'm planning to deprecate these (color names as css classes)
    bg                 color, btn-primary-color

    &:focus
      shadow           inset 0 0 0 1px darken(btn-primary-color, 4) \,
                       0 0 5px lighten(btn-primary-color, 5)

  &.secondary
  &.gray
    bg                 color, btn-secondary-color

    &:focus
      shadow           inset 0 0 0 1px darken(btn-secondary-color, 8) \,
                       0 0 5px lighten(btn-secondary-color, 10)

  &.danger
  &.red
    bg                 color, btn-danger-color

    &:focus
      shadow           inset 0 0 0 1px darken(btn-danger-color, 4) \,
                       0 0 5px lighten(btn-danger-color, 5)

  &.warning
  &.yellow
    bg                 color, btn-warning-color

    &:focus
      shadow           inset 0 0 0 1px darken(btn-warning-color, 4) \,
                       0 0 5px lighten(btn-warning-color, 5)

  &[disabled]
  &.disabled
    bg                 color, btn-disabled-color
    color              #efefef
    cursor             not-allowed

    &:focus
      shadow           none

  &.transparent
    bg                 color, transparent
    color              #000

    &.primary
      color            btn-primary-color

    &.secondary
      color            btn-secondary-color

    &.danger
      color            btn-danger-color

    &.warning
      color            btn-warning-color


  //States

  &.loading
    color              transparent
    text-shadow        none

  &.with-icon
    padding-left       38px

    .icon
      display          block
      abs              50% 0 0 14px
      vendor           transform, translateY(-50%)

  &.w-loader
    .kdloader
      text-align       center
      position         static !important

      .canvas-loader
        position       relative

      canvas
        abs            50% 0 0 50%
        vendor         transform, translateY(-50%) translateX(-50%)

    &.loading
      .button-title
        display        none

      .icon
        display        none


.kdbuttonwithmenu-wrapper
  rel()
  display           inline-block
  size              auto,auto

  button
    margin          0!important

  .chevron-separator
    abs()
    top             0
    right           20px
    border-left     1px solid #bbb
    size            0,100%

  .chevron
    display         block
    abs()
    top             0
    right           0
    size            20px,20px
    kdfsprite()
    bg              position,-80px -280px

.kdbuttonmenu.kdcontextmenu
  width               auto
  min-width           0
  rounded             3px 0 3px 3px
  border              1px solid rgb(187,187,187)
  shadow              0 7px 15px rgba(0,0,0,.17)
  bg                  color,white

  .kdlistview-contextmenu.default
    rounded           3px 0 3px 3px
    padding           0
    shadow            none
    border            none

  .chevron-ghost-wrapper
    abs()
    top               -21px
    right             -1px
    border            1px solid #A7A7A7
    border-width      1px 1px 0 1px
    bg                color,white
    overflow          hidden

    .chevron-ghost
      display         block
      size            20px,20px
      kdfsprite()
      bg              position,-80px -260px
  &.top-menu
    rounded      3px 3px 3px 0
    .chevron-ghost-wrapper
      top             initial
      bottom          -21px
      right           -1px
      border          1px solid #A7A7A7
      border-width    0 1px 1px 1px
  &.small-gray
    .chevron-ghost-wrapper
      rounded    0 10px 0 0
    &.top-menu
      .chevron-ghost-wrapper
        rounded  0 0 0 10px
  &.clean-gray,&.clean-red
    .chevron-ghost-wrapper
      rounded    0 3px 0 0
      .chevron-ghost
        margin-top    4px
    &.top-menu
      .chevron-ghost-wrapper
        rounded  0 0 0 3px
  &.cupid-green
    .chevron-ghost-wrapper
      rounded    0 3px 0 0
      .chevron-ghost
        margin-top    3px
    &.top-menu
      .chevron-ghost-wrapper
        rounded  0 0 0 3px


.kdview.kdbuttongroup
  display             inline-block
  size                auto, auto
  rounded             3px
  >button
    border-width      1px 1px 1px 0
    padding           3px 8px 4px 8px
    text-align        center
    width             auto
    rounded           0

    &.icon-only
      padding         2px 3px
    &.with-icon
      span.icon
        padding       2px 2px 1px 3px
        margin-right  2px
        // bg            color,transparent

  >button:first-child
    border-width    1px
    rounded         3px 0 0 3px

  >button:last-child
    rounded         0 3px 3px 0


