@import "./kdfn"



/*
**  KDModal STYLES
*/
.dragInAction
  .kdmodal
    vendor                transition, none

.kdmodal
  z-index                 10000
  top                     -100%
  left                    -100%
  rounded                 3px
  fix()

  .kdmodal-inner
    bg                    color, #FAFAFA
    border                1px solid #eaeaea
    height                auto
    rounded               3px
    padding               17px 25px 25px
    shadow                0 12px 19px rgba(0, 0, 0, .5)
    borderBox()

    .kdmodal-title
      color               #00B057
      line-height         30px
      font-size           20px
      margin-bottom       13px
      cursor              move

      .title
        white-space       nowrap
        display           block
        overflow          hidden
        text-overflow     ellipsis

    .kdmodal-content
      font-size           14px
      color               #828282
      line-height         24px
      position            relative

    .kdmodal-buttons
    .button-field
      .kdbutton
        fr()

        &.to-left
          margin-left     0
          margin-right    12px
          fl()

.kdmodal.blocking-animation
  vendor                animation, blockingAnimation .2s 1 ease

.kdoverlay
  background            rgba(0, 0, 0, .3)
  fix()

@-webkit-keyframes blockingAnimation
  0%
    -webkit-transform scale(1)
  50%
    -webkit-transform scale(1.03)
  100%
    -webkit-transform scale(1)

@-moz-keyframes blockingAnimation
  0%
    -webkit-transform scale(1)
  50%
    -webkit-transform scale(1.03)
  100%
    -webkit-transform scale(1)